.filters {
    background-color: #000000;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
}

.text-center {
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 700px) {
    .list-group {
        width: 250px;
    }

    .chat {
        height: 60vh;
        overflow: auto;
    }

    .list-group button {
        font-size: 12px;
    }
}

@media (max-width: 300px) {
    
}


.text-left {
    margin-right: 0px;
}

.d-flex p {
    margin-top: 5px;
}

.d-flex h4 {
    margin-left: 20px;
}

.scrollable {
    position: relative;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.otpInput {
  width: 40px;
  height: 40px;
  margin: 5px;
  text-align: center;
  font-size: 1.2em;
}


.App {
  width: 100%;
  min-height: 100vh;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  background-color: #afafaf;
  height: 80px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.4em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fabuttons {
    width: 400px;
}

.header-button{
    background-color:#afafaf;
    border-color: #afafaf;
    padding: 10px;
}